.banners-form {
  max-width: 540px;
  padding: 0px 16px 20px;
}

.loader {
  width: 540px;
  padding: 20px 16px 20px;
  display: flex;
  justify-content: center;
}

.form-row {
  display: flex;
  gap: 10px;
  mat-form-field {
    width: 100%;
  }
}

.action-buttons {
  margin-top: 10px;
  justify-content: flex-end;
  gap: 16px;
  button {
    width: 85px;
    padding: 20px 16px;
  }
}

.banner-image-wrapper {
  position: relative;
  .remove-button {
    padding-top: 4px;
    padding-bottom: 3px;
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: #f1cece;
    }
  }
  .banner-image {
    width: 100%;
    max-height: 200px;
    margin-bottom: 20px;
    object-position: center;
    object-fit: cover;
    border-radius: 4px;
  }
}

.banner-image-not-found {
  $color: #666666;
  width: 100%;
  margin-bottom: 20px;
  padding: 16px;
  color: $color;
  background-color: rgba($color, 0.05);
  border-left: 4px solid $color;
  .alert-title {
    margin: 0 0 14px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
  }
  .alert-content {
    margin: 0;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #555555;
  }
}

.upload-image {
  width: 100%;
  input[matInput] {
    padding: 0 16px;
    font-size: 16px;
    font-weight: 300;
    pointer-events: none;
  }
  ::ng-deep {
    .mdc-text-field,
    .mat-mdc-form-field-infix {
      padding: 0;
    }
  }
  mat-toolbar {
    padding: 0;
    background-color: transparent;
    button {
      margin-right: 16px;
      z-index: 1;
    }
  }
}

#fileInput {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .banners-form {
    max-width: unset;
  }
  .loader {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .form-row {
    flex-direction: column;
    gap: 0;
  }

  .action-buttons {
    margin: 0;
    flex-direction: row;
    gap: 10px;
  }
}
