<div class="banners-list-container" [ngClass]="{'d-none': !httpRequestSubscription.closed}">
  <div class="list-filters">
    <mat-form-field class="list-search" appearance="outline">
      <mat-label>Search</mat-label>
      <input #input matInput [value]="filterParams['search']" (keyup)="applySearch($event)"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sort by</mat-label>
      <mat-select [(value)]="filterParams['sortBy']" (selectionChange)="sortByProperty($event)">
        <mat-option [value]="null">Default Order</mat-option>
        <mat-option [value]="'name.raw'">Name</mat-option>
        <mat-option [value]="'active'">Status</mat-option>
        <mat-option [value]="'zoneId'">Zone</mat-option>
        <mat-option [value]="'startDate'">Start Date</mat-option>
        <mat-option [value]="'endDate'">End Date</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sort Direction</mat-label>
      <mat-select [(value)]="filterParams['sortDirection']" (selectionChange)="sortByDirection($event)">
        <mat-option [value]="null">Default Direction</mat-option>
        <mat-option [value]="'asc'">Ascending</mat-option>
        <mat-option [value]="'desc'">Descending</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8" [ngClass]="{'d-none': dataSource.data.length === 0}">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex justify-content-center">
            <img class="banner-img" [src]="element.imgSrc" alt="img" (error)="handleImageError($event)"/>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td class="text-left" mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th class="hide-for-mobiles" mat-header-cell *matHeaderCellDef>Status</th>
        <td class="hide-for-mobiles" mat-cell *matCellDef="let element">
          <div class="d-flex justify-content-center">
            <div *ngIf="element.active" class="status status-active">Active</div>
            <div *ngIf="!element.active" class="status status-inactive">Inactive</div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="zone">
        <th class="hide-for-laptops" mat-header-cell *matHeaderCellDef>Zone</th>
        <td class="hide-for-laptops" mat-cell *matCellDef="let element">{{ element.zoneId }}</td>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <th class="hide-for-laptops" mat-header-cell *matHeaderCellDef>Start Date</th>
        <td class="hide-for-laptops" mat-cell *matCellDef="let element">{{ element.startDate | date: 'dd.MM.yyyy' : 'UTC'}}</td>
      </ng-container>
      <ng-container matColumnDef="endDate">
        <th class="hide-for-laptops" mat-header-cell *matHeaderCellDef>End Date</th>
        <td class="hide-for-laptops" mat-cell *matCellDef="let element">{{ element.endDate | date: 'dd.MM.yyyy': 'UTC'}}</td>
      </ng-container>
      <ng-container matColumnDef="labels">
        <th class="hide-for-tablets" mat-header-cell *matHeaderCellDef>Labels</th>
        <td class="hide-for-tablets" mat-cell *matCellDef="let element">{{ element.labels.join(', ') }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex justify-content-center">
            <button mat-icon-button color="primary" (click)="editBanner(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="removeBanner(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      <tr class="cells-center" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="cells-center" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      showFirstLastButtons
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [length]="dataLength"
      (page)="changePage($event)"
    >
    </mat-paginator>
  </div>
  <div *ngIf="httpRequestSubscription?.closed && (dataSource.data.length === 0 || errorDetected)" class="noRecords">
    <h1>Records Not Found</h1>
    <img src="/assets/media/no-data.png" alt="No Records">
  </div>
</div>
<div *ngIf="!httpRequestSubscription.closed" class="loader">
  <mat-spinner></mat-spinner>
</div>